{% extends '::base.html.twig' %}
{% block body %}
<html lang="en">

    <style type="text/css">

        body{
          background-image:url('http://i.imgur.com/EikJfFY.jpg');
          background-repeat:no-repeat;
          /*background-position: 300px;*/
          background-origin: center;
          background-size: 1400px;
           height: 770px;
        }
        .container{
            width:440px;
            
            margin-bottom: 300px;
        }

        .card {
        	background-color: lightgray;
        	height: 120px;
        	border-radius: 8px;
        	padding: 10px;
        	margin: 15px;
        	width: 100%;
        	float: left;
        }

        .bandPic {
        	background-image:url('http://static.stereoboard.com/images/artistimages/50/tn_arcade-fire.jpg');
        	padding: 2px;
        	border: 2px;
        	border-width: 4px;
        	border-color: black;
        	height: 50px;
        	width: 50px;
        	float: left;
        }

        .bandTitle {
        	float: left;
        	margin-left: 20px;
        	font-size: 16px;
        	margin-bottom: 10px;
        }

        .bandDetails {
        	width: 100%;
        	font-size: 12px;
        	float: left;

        }

        .form-signin-heading{
          text-align: center;
        }

        .btn-block {
        	float: right;
        	padding: 4px;
        	font-size: 12px;
        	width: 80px;
        	height: 34px;


        }

        </style>

  <body>

<div class="container">

      <div class="card">
      	<div class="bandPic">
      		<br/>
      	</div>
      	<div class="bandTitle">
      		<b>Arcade Fire</b><br/>
      		<font size="2">11/12/13 The Echoplex</font>
      	</div>
      	<form id = "some_form" method="post" action="{{ path('join_car') }}">
	      	<div class="bandDetails">
	      		<br/>San Diego  -------->  Los Angeles
	      	
	      		<button class="btn btn-lg btn-primary btn-block" action="{{ path('join_car') }}" type="submit"> Join 
	      		</button>
	      	
	      		<br/>
	      		12 want to go  --------  4 open seats  
	      		 
	      		 <br/>
	      	</div>
      	</form>
      </div>

  

      <div class="card">
      	<div class="bandPic">
      		<br/>
      	</div>
      	<div class="bandTitle">
      		<b>Arcade Fire</b><br/>
      		<font size="2">11/14/13 The Metropolis Theater</font>
      	</div>
      	<form id = "some_form" method="post" action="{{ path('join_car') }}">

	      	<div class="bandDetails">
	      		<br/>Santa Barbara  -------->  San Francisco
	      		<button action = "{{ path('join_car') }}" class="btn btn-lg btn-primary btn-block" type="submit">Join</button><br/>
	      		8 want to go  --------  0 open seats  
	      		 
	      		 <br/>
	      	</div>
	    </form>
      </div>

      <div class="card">
      	<div class="bandPic">
      		<br/>
      	</div>
      	<div class="bandTitle">
      		<b>Arcade Fire</b><br/>
      		<font size="2">11/15/14 The Echoplex</font>
      	</div>
		<form id = "some_form" method="post" action="{{ path('join_car') }}">
	      	<div class="bandDetails">
	      		<br/>San Francisco  -------->  Seattle
	      		<button action = "{{ path('join_car') }}" class="btn btn-lg btn-primary btn-block" type="submit">Join</button><br/>
	      		2 want to go  --------  1 open seats  
	      		 
	      		 <br/>
	      	</div>
	    </form>
      </div>

</div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  

</body></html>
{% endblock %}